body {
  background-color:#d0d0d0;
  margin:auto;
  overflow:none;
  
}


header {
	background-color:white;
	margin:20px;
	padding-top:20px;
	padding-bottom:20px;
	max-height:80px;
	box-shadow:10px 10px 5px #888888;
}


h1 {
	background-color:#009999;
	width:265px;
	height:80px;
	display:inline-block;
	position:relative;
	left:5em;
	bottom:41px;
	font-family:arial;
	font-style:italic;
	text-align:center;
	color:#f0f0f0;
	padding-top:40px;
}


#header-list {
	display:inline;
	float:right;
	text-decoration:none;
	list-style-type:none;
	word-spacing:10px;
	font-family:arial;
	font-size:18px;
}


a {
	text-decoration:none;
	color:#909090;
}


#about {
   position:relative;
   right:15em;
   top:10px;
}


#portfolio {
	position:relative;
	right:10em;
	top:-8px;
}


#contact {
	position:relative;
	bottom:25px;
	right:4.2em;
}


/* section 1 end, section 2 begin */ 


section {
	display:inline-block;
	margin:20px;
	padding:20px;
	width:650px;
	height:645px;
	box-shadow:10px 10px 5px #888888;
	background-color:white;
}



#main-content {
	
	padding:5px;
	text-align:left;
	width:565px;
	font-family:arial;
	line-height:25px;
}


img {
	position:relative;
	bottom:1em;
	left:10px;
}


h2 {
	position:relative;
	bottom:20px;
	left:15px;
	font-family:arial;
	font-weight:bold;
	border-bottom:4px solid lightgrey;
}


/* end section 2, section 3 begin */


aside {
	position:absolute;
	right:10em;
	display:inline-block;
	width:470px;
	height:180px;
	text-align:center;
	box-shadow:10px 10px 5px #888888;
	background-color:white;
}


.aside-icons {
	border-bottom:2px solid lightgrey;
}



h4 {
   font-family:arial;
   font-weight:bold;
}



footer {
	position:relative;
	top:20em;
	text-align:center;
	background-color:#666666;
	height:125px;
	border-style:solid;
	border-color:#4aaaa5;
	border-top-width:10px;
}


footer p{
	position:relative;
	top:25px;
}





/* divided for contact.html */



.aside-contact {
	position:absolute;
	right:10em;
	display:inline-block;
	width:470px;
	height:180px;
	text-align:center;
	box-shadow:10px 10px 5px #888888;
	background-color:white;
}

.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 50%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}


#contact-section {
	width:650px;
}

#portfolio-aside {
	position:absolute;
	right:10em;
	display:inline-block;
	width:470px;
	height:180px;
	text-align:center;
	box-shadow:10px 10px 5px #888888;
	background-color:white;
}

	#image1 {
		width:250px;
		height:250px;
		border:0;
		padding-bottom:10px;
	}


	#image2 {
		width:250px;
		height:250px; 
		float:right;
	}


	#image3 {
		width:250px; 
		height:250px; 
		float:left;
	}
	

	#image4 {
		width:250px; 
		height:250px; 
		float:right;
	}





/* responsive */


@media screen and (max-width:980px) {

	section {
		position:relative;
		left:7em;
	}

	aside {
		top:60em;
		left:15em;
	}

	#image1 {
		width:250px;
		height:250px;
		border:0;
		padding-bottom:10px;
	}


	#image2 {
		width:250px;
		height:250px; 
		float:right;
	}


	#image3 {
		width:250px; 
		height:250px; 
		float:left;
	}
	

	#image4 {
		width:250px; 
		height:250px; 
		float:right;
	}
}







@media screen and (max-width: 768px) {

	#header-list {
		word-spacing:2px;
	}

	header {
		height:140px;

	}

	h1 {
		width:140px;
		position:relative;
		left:2em;
	}

	section {
		padding:20px;
		margin-left:20px;
		margin-right:20px;
		width:520px;
		position:relative;
		left:75px;
	}

	aside {
		padding-top:10px;
		margin-top:20px;
		left:9em;
	}

	#main-content {
		text-align:center;
		width:490px;
	}

	#image1 {
		width:200px;
		height:200px;
		border:0;
	}


	#image2 {
		width:200px;
		height:200px; 
		float:right;
	}


	#image3 {
		width:200px; 
		height:200px; 
		float:left;
	}
	

	#image4 {
		width:200px; 
		height:200px; 
		float:right;
	}
}







@media screen and (max-width:640px) {

	section {
		width:500px;
		position:relative;
		left:20px;
	}

	#main-content {
		padding:10px;
		text-align:center;
		width:450px;
		font-family:arial;
		line-height:30px;
	}

	aside {
		left:5em;
	}

}